@model FitnessBourneV2.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Member Register";
}
<style>

    #navBarId {
        display: none;
    }

    h2{
        color: white;
    }
</style>
<!-- reference to Leaflet CSS -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!-- reference to Leaflet JavaScript -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<h2 id="titleHeader">@ViewBag.Title.</h2>
<div class="registrBody">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal formPos", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GivenName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GivenName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactNum, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ContactNum, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UnitNo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UnitNo, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HouseNo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.HouseNo, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StreetName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SuburbName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SuburbName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CityName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CityName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StateName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StateName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Zipcode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.selectedClub, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();

                    foreach (var item in Model.listOfClub)
                    {
                        listItems.Add(new SelectListItem
                        {
                            Text = item.FC_Ref_Name,
                            Value = item.FC_Id.ToString()
                        });
                    }

                }
                @Html.DropDownListFor(m => m.selectedClub, listItems, new { @class = "form-control dropdown" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
                <p id="loginLink">
                    @Html.ActionLink("Already Registered User", "Login")
                </p>
            </div>
        </div>
    }
</div>

<div class="row oddBlock" id="mapBlock">
    <div class="col-md-8 col-md-offset-2" id='mapClubs'></div>
    <div class="col-md-3">
        <div class="row" id="mapTitle">
            <strong>Choose your club</strong>
        </div>
        <div class="row" id="mapContent">
            <span>
                This map shows the list of fitness club we have around melbourne to get your life enriched.
            </span>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>


    $(document).ready(function () {
        //  create map object, tell it to live in 'map' div and give initial latitude, longitude, zoom values
        var map = L.map('mapClubs', { scrollWheelZoom: false }).setView([-37.88, 145.00], 11);
        var customOptions =
        {
            'maxWidth': '500'
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMap", "Account")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                var result = JSON.stringify(data);
                
                for (var i = 0; i < result.length; ++i) {
                    
                    var imageCount = (i + 1).toString();
                    var popUpData = '<strong class="popUpTitle">' + data[i].clubName +
                    '</strong></br>' + '<strong class="popUpAdr">' + data[i].clubAddr +
                        '</strong></br>' + '<img src="../Image/club' + imageCount + '.jpg" alt="maptime logo gif" width="100px" height="100px" />' +
                        '</br> <button class="popUpBtn" onclick="clubJoin(\'' + data[i].clubName + '\')">JOIN</button>';

                    L.marker([data[i].latitude, data[i].longitude]).
                    bindPopup(popUpData,
                    customOptions).addTo(map);
                }

            },
            error: function (xhr) {

                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });

        var mapIcon = L.icon({
            iconUrl: '../Image/Map_Pin.png',
            iconSize: [38, 95], // size of the icon
            popupAnchor: [0, -15]
        });

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


    });

    function clubJoin(clubName) {

        //var $option = $('.dropdown').children('option[text="' + clubName + '"]');
        // and now set the option we want selected
        //$option.attr('selected', 'selected');​​

        $("select option").each(function () {
            if ($(this).text() == clubName) {
                $(this).attr("selected", "selected");
            }
                
        });
        $(".leaflet-popup").hide();
    }
</script>




