@model FitnessBourneV2.Models.EventAddModel

@{
    ViewBag.Title = "EventAdd";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<!--<link rel="stylesheet" href="~/Content/leaflet.css" />-->
<link rel="stylesheet" href="~/Content/leaflet-routing-machine.css" />
<link rel="stylesheet" href="~/Content/index_route.css" />


@using (Html.BeginForm("EventSave", "Event", FormMethod.Post, new { @class = "form-horizontal formPos", role = "form" }))
{

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.eventTypeName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();

                foreach (var item in Model.eventType)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = item.ET_Name,
                        Value = item.ET_Id.ToString()
                    });
                }

            }
            @Html.DropDownListFor(m => m.eventTypeName, listItems, new { @class = "form-control dropdown" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.startDateTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            <div class='input-group date datetimepickerclass' id='datetimepickerStart'>
                @Html.TextBoxFor(m => m.startDateTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.endDateTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            <div class='input-group date datetimepickerclass' id='datetimepickerEnd'>
                @Html.TextBoxFor(m => m.endDateTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <label>@Html.CheckBoxFor(m => m.isPrivate, new { id = "privateCheck" })&nbsp;Is the event private to your club members?</label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.mem_capacity, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.mem_capacity, new List<SelectListItem>
{
new SelectListItem{ Text="1", Value = "1" },
new SelectListItem{ Text="2", Value = "2" },
new SelectListItem{ Text="3", Value = "3" },
new SelectListItem{ Text="4", Value = "4" },
new SelectListItem{ Text="5", Value = "5" },
new SelectListItem{ Text="6", Value = "6" },
new SelectListItem{ Text="7", Value = "7" },
new SelectListItem{ Text="8", Value = "8" },
new SelectListItem{ Text="9", Value = "9" },
new SelectListItem{ Text="10", Value = "10" },
new SelectListItem{ Text="11", Value = "11" },
new SelectListItem{ Text="12", Value = "12" },
new SelectListItem{ Text="13", Value = "13" },
new SelectListItem{ Text="14", Value = "14" },
new SelectListItem{ Text="15", Value = "15" }
}, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Event" />
        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(m => m.Location1, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <div id="mapRoute" class="mapRouteClass"></div>
    </div>
</div>
<script>

    $(function () {
        $('#datetimepickerStart').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });

        $('#datetimepickerEnd').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
    });

    $.ajax({
        type: "POST",
        url: '@Url.Action("setSession", "Event")',
        data: ' {name:"' + screenName + '"}',
        ContentType: "application/Json;Charset=utf-8",
        success: function () {
            document.getElementById("mainForm").submit();
        },
        error: function (xhr) {
            console.log(xhr.responseText);
            alert("Error has occurred..");
        }
    });

</script>
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!--<script src="~/Scripts/leaflet.js"></script>-->
<script src="~/Scripts/leaflet-routing-machine.js"></script>
<script src="~/Scripts/Control.Geocoder.js"></script>
<script src="~/Scripts/config.js"></script>
<script src="~/Scripts/index_route.js"></script>



